<div class="hero-unit">
  <h1>Start a Game</h1>
  <p>Automate the wordbot in as few commands as possible!</p>
  <p>
    <% %w(easy medium hard).each do |level| %>
      <%= link_to level.capitalize, game_url(level: level), class: 'btn btn-large btn-success' %>
    <% end %>
  </p>
</div>
